# git
!/**/.gitkeep

# Laravel
**/vendor/**
**/node_modules/**
/public/build
/public/hot
/public/storage
**/npm-debug.log
**/yarn-error.log
**/auth.json
Homestead.json
Homestead.yaml
/storage/*.key
/.phpunit.cache
.phpunit.result.cache

# IDEs
**/.idea/**
**/.vscode/**

# Environmnent
**/.env
**/.env.backup
**/.env.production

# Files
docker-compose.override.yml


